/***********nav bar style*************/



/********cursor style********/
.shrink {
    background-image: radial-gradient(circle, #250d59, #191147, #121134, #100e21, #080809);
    transition: ease-in-out 1s;
}
body{
  margin: 0;
  height: 100vh;
  cursor: none;
  overflow-x: hidden;
}
.cursor {
    width: 50px;
    height: 50px;
    position: absolute;
    border: solid 1px #fff;
    border-radius: 50%;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s alternate;
    pointer-events: none;
    z-index: 9999;
}
.cursorInn {
    width: 5px;
    height: 5px;
    position: absolute;
    border: solid red;
    border-radius: 50%;
    margin: 21px;
    transition-timing-function: ease-out;
    z-index: 9999;
    animation: cursorAnim .5s alternate;
    pointer-events: none;
}
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}
/************************/

.container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 1400px;
}
.a
{
  text-decoration: none;
  color: #232323;  
  transition: color 0.3s ease;
}
a:hover
{
  color: tomato;
}
#menuToggle {
    display: block;
    position: absolute;
    top: 26px;
    right: 160px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: none;  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: #cdcdcd;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
    position: absolute;
    width: 300px;
    margin: -36px -12px 0px 0px;
    padding: 50px;
    padding-top: 58px;
    right: 0;
    background: #511ccc;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    opacity: 0;
    transition: all 1s;
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: scaleX(1.0, 1.0);
  opacity: 1;
}
a.navbar-brand img {
    padding-left: 80px;
    margin: 0 auto;
    transition: ease-in 2s;
}
.shrink img {
    padding-left: 6em;
    transition: ease-in 2s;
}
a.navbar-brand img:hover {
    cursor: none;
}
.menuList {
    pointer-events: none;
}
#menu li {
    pointer-events: all;
    cursor: none;
}
/**********popup ends**********/
/***********nav bar ends here**********/

.homeMain{
  margin: 0;
}
.masthead {
  background-image: url('https://ramanaidu7.github.io/newpage/images/Banner.png');
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -8%;
  padding-bottom: 20%;
  margin-bottom: 5%;
}
.homeleftText {
    margin-top: 55%;
    padding-left: 8%;

}
.homeRightText {
    color: #8d8d8d;
    margin-top: 46%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    animation: fadeInUp;
  animation-duration: 5s;
  -webkit-animation-duration: 5s; 
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.homeleftText h3 {
    font-family: 'Open Sans', sans-serif;
    color: #8d8d8d;
    font-size: 24px;
}
.homeleftText h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 64px;
    letter-spacing: -3px;
    color: #fff;
}
.portfolioSect1 {
    width: 85%;
    margin: 0 auto;
}
.port_prax_img1 {
    background-image: url(https://ramanaidu7.github.io/newpage/images/tile1paralax.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100%;
    background-position: right 10%;
    background-repeat: no-repeat;
}
.port_prax_img2 {
    background-image: url(https://ramanaidu7.github.io/newpage/images/tile3paralax.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100%;
    background-position: right 10%;
    background-repeat: no-repeat;
}
img.shea_img, img.ark_img, img.slid1 {
    width: 100%;
}
.portf_text {
    padding-top: 52%;
}
.portf_text p {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.portf_text h1 {
    font-size: 64px;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.port_prax_img3 {
    background-image: url(https://ramanaidu7.github.io/newpage/images/tile4paralax.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 40%;
    background-position: right 10%;
}
/*.testSlidr {
    width: 100%;
    margin: 0 auto;
    padding: 0 9%;
}
.testSlidr h1 {
    padding-top: 7%;
    font-family: 'Quicksand', sans-serif;
    font-size: 64px;
}
.item h4 {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.7em;
}
.owl-height {
    height: 250px !important;
}
.owl-carousel {
    margin-top: 6%;
}
span.clnt_name {
    font-weight: 800;
    font-size: 26px;
    position: relative;
    top: 30px;
    font-family: 'Quicksand', sans-serif;
}
span.clnt_cmp {
    font-weight: 500;
    font-size: 26px;
    position: relative;
    top: 25px;
    font-family: 'Open Sans', sans-serif;
}
.owl-prev span, .owl-next span {
    font-size: 65px;
    top: -4em;
    position: relative;
}
 .owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left:70%;
  background-color: transparent !important;
}
.owl-nav button.owl-next {
  right: 4%;
  background-color: transparent !important;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}*/






.cnt_bg {
    background-color: #000;
    font-family: 'Quicksand', sans-serif;
    padding: 3rem 7rem;
}
h2.let_talk {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
}
a.emil_link {
    color: #fff;
    font-size: 75px;
    text-decoration: none;
    font-weight: 300;
}
.foot_client, .foot_work, .foot_about {
    width: 30%;
    float: left;
}
.go_top {
    text-align: center;
}
a.client_link, a.client_work, a.client_about {
    color: #fff;
    text-decoration: none;
}
.foot_sitemap {
    margin-top: 42px;
}
img.img_adunit {
    margin-top: 8px;
}




/**********mobile style***********/

@media (min-width: 340px) and (max-width: 640px) {
body {
    cursor: unset;
    overflow-x: hidden;
}
.cursor {
    display: none;
}
.row{
  margin: 0;
}
.navbar {
    background: #250d59;
}
a.navbar-brand img {
    padding-left: 0;
} 
#menuToggle {
    right: 34px;
}
.masthead {
    background-position: 50% 0;
    margin-top: -1%;
    margin-bottom: 15%;
    background-size: 270% 150%;
}
.homeleftText {
    margin-top: 100%;
}
.homeleftText h3 {
    font-size: 17px;
}
.homeleftText h1 {
    font-size: 40px;
}
.homeRightText {
    margin-top: 20%;
    font-size: 18px;
}
.portfolioSect1 {
    width: 100%;
}
.port_prax_img1 {
  background-position: left;
  margin-bottom: 10%;
}
img.shea_img {
    margin-bottom: 10%;
}
img.ark_img {
    width: 100%;
}
.portf_text {
    padding: 6% 0;
    margin-bottom: 5%;
}
.port_prax_img3 {
    background-attachment: fixed;
    padding-bottom: 90%;
    background-position: left;
}
img.ark_img {
    width: 100%;
    margin-bottom: 10%;
}
.cnt_bg {
    padding: 2rem 1rem;
    width: 100%;
    margin: 0 auto;
}
a.emil_link {
    font-size: 32px;
}
.foot_sitemap {
    margin-top: 20px;
}
.mob_pad {
    padding: 0;
}
.go_top {
    text-align: left;
    padding: 0;
    margin-top: 6%;
}
}




/**********************/